[user]
    name = Florian Bütler
    email = flbuetle@ethz.ch
    # email = florian.buetler@hotmail.com
    signingkey = E3C1B0D5A5ACAD4b
[core]
    excludesfile = $HOME/.gitignore
    pager = delta
	autocrlf = input
[color]
	ui = auto
[alias]
    st = status
    co = checkout --recurse-submodules
    cm = commit
    br = branch
    df = diff
    dc = diff --cached
    pl = pull
    ps = pull --autostash
    lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
    short = log --pretty=format:'%h %ad %Cblue%cn%Creset %Cred%s%Creset' --date=short
    today = log --pretty=format:'%h %Cblue%cn%Creset %Cred%s%Creset' --since=6am
    sincedaily = log --pretty=format:'%h %ad %Cblue%cn%Creset %Cred%s%Creset' --since 'yesterday 09:30' --date=local
    graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)%aD (%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
    ign = ls-files -o -i --exclude-standard
    la = git stash pop config -l | grep ^alias. | cut -c 7-
    unstage = reset HEAD
[status]
    submoduleSummary = true
[pull]
    rebase = true
    autoStash = true
[push]
	default = upstream
    followtags = true
[rebase]
    autoStash = true
    autoSquash = true
[merge]
    tool = code
    conflictstyle = diff3
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[fetch]
    prune = true
    prunetags = true
[init]
    defaultBranch = main
[credential]
    helper = store
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[delta]
    navigate = true   # use n and N to move between diff sections
    light = false     # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    hyperlinks = true # link to GitHub/GitLab/Bitbucket
[diff]
    colorMoved = default
    algorithm = histogram
[submodule]
    recurse = true
[rerere]
    enabled = true
[log]
    date = iso
[help]
    autocorrect = 10 # run autocorrect suggestion after 1s
[branch]
    sort = -committerdate
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    submodule = log
[maintenance]
    auto = false
    strategy = incremental
 
# replace HTTP with SSH
[url "ssh://git@gitlab.ethz.ch/"]
    insteadOf = "https://gitlab.ethz.ch/"
[url "git@github.com:"]
    insteadOf = "https://github.com/"
