[include]
	path = ~/.config/git/gitconfig-default
[includeIf "gitdir:~/git/inventage/**"]
	path = ~/.config/git/gitconfig-inventage

[core]
    excludesfile = ~/.config/git/ignore
    # pager = delta
	autocrlf = input
[color]
	ui = auto
[alias]
    st = status
    co = checkout --recurse-submodules
    cm = commit
    br = branch
    df = diff
    dc = diff --cached
    pl = pull
    ps = pull --autostash
    lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
    short = log --pretty=format:'%h %ad %Cblue%cn%Creset %Cred%s%Creset' --date=short
    today = log --pretty=format:'%h %Cblue%cn%Creset %Cred%s%Creset' --since=6am
    sincedaily = log --pretty=format:'%h %ad %Cblue%cn%Creset %Cred%s%Creset' --since 'yesterday 09:30' --date=local
    graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)%aD (%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
    ign = ls-files -o -i --exclude-standard
    unstage = reset HEAD
[status]
    showUntrackedFiles = all
    submoduleSummary = true
[pull]
    rebase = true
    autoStash = true
[push]
	default = simple
    autoSetupRemote = true
    followtags = true
[rebase]
    autoStash = true
    autoSquash = true
    updateRefs = true
[merge]
    tool = code
    conflictstyle = zdiff3
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[fetch]
    prune = true
    prunetags = true
    all = true
[init]
    defaultBranch = main
[credential]
    helper = store
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[delta]
    navigate = true   # use n and N to move between diff sections
    light = false     # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    hyperlinks = true # link to GitHub/GitLab/Bitbucket
[diff]
    colorMoved = plain
    algorithm = histogram
    mnemonicPrefix = true
    renames = true
[submodule]
    recurse = true
[rerere]
    # reuse recorded resolution
    enabled = true
    autoupdate = true
[log]
    date = iso
[help]
    autocorrect = prompt
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[commit]
    verbose = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    submodule = log
[maintenance]
    auto = false
    strategy = incremental

# replace HTTP with SSH
[url "ssh://git@gitlab.ethz.ch/"]
    insteadOf = "https://gitlab.ethz.ch/"
[url "git@github.com:"]
    insteadOf = "https://github.com/"
